#date,
#is-it-today {
  font-weight: bold;
  font-family: "Source-Code-Pro", monospace;
  font-size: 2em;
}

.hidden {
  display: none;
}

.highlighted {
  background: #000000;
}

#source-code {
  margin: 20px 0 0;
}

.questions {
  margin: 0 10px;
  border: 1px solid #555555;

}

.questions .buttons {
  display: flex;
  justify-content: center;
}

.questions > #how-often-is-friday-the-13th {
  padding: 10px;
}

.questions h2,
.questions #is-it-friday-the-13th,
.questions #when-is-friday-the-13th {
  text-align: center;
}

footer {
  max-width: 900px;
  margin: 0 auto;
}

button {
  margin: 0 3px;
}

