#date {
  font-weight: bold;
  font-family: "Source-Code-Pro", monospace;
  font-size: 2em;
}

#source-code {
  margin-top: 30px;
}

article.friday-the-13th {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
}

article {
  margin: 0 10px 0;
}

footer {
  max-width: 900px;
  margin: 0 auto;
}

